[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis
[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "proto/envoy"]
	path = proto/envoy
	url = https://github.com/envoyproxy/envoy.git
[submodule "proto/udpa"]
	path = proto/udpa
	url = https://github.com/cncf/udpa.git
